In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from util import *

In [2]:
df = load_df('data/dvf.csv')

- raw: 121546
- dropna: 121334 (-212)

In [3]:
df['valeur_fonciere']

0         175000.0
1              1.0
2         320299.0
3          56500.0
5              NaN
            ...
394983     84000.0
394985     45000.0
394986      2726.0
394996    135000.0
394999    371000.0
Name: valeur_fonciere, Length: 121546, dtype: float64

In [4]:
df['valeur_fonciere'].dropna()

0         175000.0
1              1.0
2         320299.0
3          56500.0
6         252792.0
            ...
394983     84000.0
394985     45000.0
394986      2726.0
394996    135000.0
394999    371000.0
Name: valeur_fonciere, Length: 121334, dtype: float64

In [8]:
df['valeur_fonciere'].dropna()[df['valeur_fonciere'] < 1100].sample(10)

47253      400.0
140554       1.0
34589      100.0
152937       1.0
242571    1000.0
51890        1.0
348507     500.0
311653     600.0
300147       1.0
51621      700.0
Name: valeur_fonciere, dtype: float64

In [19]:
df[df['nom_commune'] == 'Toulouse']['nature_culture'].dropna()

8                     sols
143                   sols
156                   sols
175                   sols
185                   sols
                ...
375051                sols
375061    terrains a bâtir
375089    terrains a bâtir
375092                sols
375138                sols
Name: nature_culture, Length: 5049, dtype: object

In [13]:
df['nature_culture']

0                  terres
1                    sols
2                  terres
3                  terres
5                  landes
               ...
394983               sols
394985                NaN
394986    taillis simples
394996                NaN
394999               sols
Name: nature_culture, Length: 121546, dtype: object

In [9]:
df.loc[242571]

id_mutation                             2020-413349
date_mutation                   2020-01-02 00:00:00
numero_disposition                                2
nature_mutation                               Vente
valeur_fonciere                              1000.0
adresse_numero                                  NaN
adresse_suffixe                                 NaN
adresse_nom_voie                             VIATES
adresse_code_voie                              B048
code_postal                                   31210
code_commune                                  31426
nom_commune                      Pointis-de-Rivière
code_departement                                 31
ancien_code_commune                             NaN
ancien_nom_commune                              NaN
id_parcelle                          31426000ZC0029
ancien_id_parcelle                              NaN
numero_volume                                   NaN
lot1_numero                                     NaN
lot1_surface_carrez                             NaN
lot2_numero                                     NaN
lot2_surface_carrez                             NaN
lot3_numero                                     NaN
lot3_surface_carrez                             NaN
lot4_numero                                     NaN
lot4_surface_carrez                             NaN
lot5_numero                                     NaN
lot5_surface_carrez                             NaN
nombre_lots                                       0
code_type_local                                 NaN
type_local                                      NaN
surface_reelle_bati                             NaN
nombre_pieces_principales                       NaN
code_nature_culture                               T
nature_culture                               terres
code_nature_culture_speciale                    NaN
nature_culture_speciale                         NaN
surface_terrain                              2454.0
longitude                                  0.608228
latitude                                   43.08492
section_prefixe                               000ZC
Name: 242571, dtype: object